
.user-info {
  height: 600px;
  margin-left: 60px;
  margin-top: 60px;
  overflow: auto;
}

.user-pic {
  height: 125px;
  border-radius: 50%;
}

.user-bio, .user-fav-materials, .user-location {
  color: #5f6a6e;
  font-size: 18px;
  padding: 10px;
  line-height: 30px;
}

.about, .fav-mat, .locale-info {
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  color: #b8c3c5;
}

.user-name {
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  padding: 10px
  display: inline-block;
  padding-bottom: 75px;
  color: #b8c3c5;
}

.user-pic {
  vertical-align: middle;
}
