body {
  font-family: sans-serif;
  // padding: 1em;
  font-family: 'Voltaire', sans-serif;
}

.outer-container {
  margin-top: 250px;

}


.fetsy-south {
  font-family: 'Special Elite', cursive;
  background: #4b1d1d;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2.5em;
   h1 {
     font-size: 60px;
   }
    h2 {
      color: #54a2b6;
       font-family: 'Voltaire', sans-serif;
       font-size: 35px;
    }
}

.local-stores {
  background: #54a2b6;
  height: 60px;
  margin-bottom: 18px;
    h1 {
      font-family: 'Special Elite', cursive;
      font-size: 28px;
      padding-top: 18px;
      color: white;
    }
}

.store-info h3 {
  font-family: 'Voltaire', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.wrapper {
  @include outer-container(80%);
  $mobile: new-breakpoint(max-width 700px 1);
  text-align: center;
  .store-info {
    @include span-columns(3);
    @include omega();
    @include media($mobile) {
    @include span-columns(1);
}
  .store-info__pic img {
    @include size(75);
    border-radius: 5%;
    padding: 2px;
    margin-bottom:  30px;
    max-width: 100%;
  }
  }
}

.outro {
  margin: auto;
  // padding-bottom: 15px;
  // margin-bottom: 30px;
  text-align: center;
  width: 100%;
  height: 40px00px;
  background: url('http://s169923.gridserver.com/images/LightCylinder.jpg');
  background-attachment: fixed;
  background-size: cover;
  h3 {
    padding-top: 220px;
    padding-bottom: 100px;
    font-size: 40px;
    color: white;
  }
}
