<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fetsy!</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="fetsy-south">
      <h1>Fetsy South!</h1>
        <h2>Explore the latest and greatest North Carolina DIY!</h2>
    </header>

<div class="container"></div>

  <script type="text/html" id="southern-stores">
    <section class="wrapper">

    <% m.stores.forEach(function(store) { %>
      <div class="store-info">
        <h3 class="item-title"><%- _.unescape( _.trunc(store.title, { 'length': 25, 'separator': ' ', 'omission': '' }) ) %></h3>
        <p class="item-description"><%- _.unescape( _.trunc(store.description, { 'length': 50, 'separator': ' ' }) ) %></p>
        <div class="store-info__pic">
          <img class="main-image" src=<%- store.MainImage.url_170x135 %>>
        </div>
      </div>
    <% }) %>

    <div class="local-stores">
      <h1>NC Stores!</h1>
    </div>

  </section>
  </script>


  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
