<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fetsy South!</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="fetsy-south">
      <h1>Fetsy South!</h1>
        <h2>vintage goods &amp diy crafts from the american south</h2>
    </header>

<div class="outer-container">

    <div class="intro">
      <h3>latest listings of unique south discoveries</h3>
    </div>
  </div>

  <div class="container"></div>

    <script type="text/html" id="southern-stores">
      <section class="wrapper">
        <div class="local-stores">
          <h1>North Carolina</h1>
        </div>

      <% m.stores.forEach(function(store) { %>
        <div class="store-info">
          <h3 class="item-title"><%- _.unescape( _.trunc(store.title, { 'length': 25, 'separator': ' ', 'omission': '' }) ) %></h3>
          <!-- <p class="item-description"><%- _.unescape( _.trunc(store.description, { 'length': 50, 'separator': ' ' }) ) %></p> -->
          <div class="store-info__pic">
            <a href="#users/<%- store.user_id %>"><img class="main-image" src=<%- store.MainImage.url_170x135 %>></a>
          </div>
        </div>
      <% }) %>

    </section>
    </script>

  <div class="container2"></div>

    <script type="text/html" id="southern-stores2">
      <section class="wrapper">
        <div class="local-stores">
          <h1>Georgia</h1>
        </div>

      <% m.stores.forEach(function(store) { %>
        <div class="store-info">
          <h3 class="item-title"><%- _.unescape( _.trunc(store.title, { 'length': 25, 'separator': ' ', 'omission': '' }) ) %></h3>
          <!-- <p class="item-description"><%- _.unescape( _.trunc(store.description, { 'length': 50, 'separator': ' ' }) ) %></p> -->
          <div class="store-info__pic">
            <a href="#users/<%- store.user_id %>"><img class="main-image" src=<%- store.MainImage.url_170x135 %>></a>
          </div>
        </div>
      <% }) %>

    </section>
    </script>

  <div class="container3"></div>

    <script type="text/html" id="southern-stores3">
      <section class="wrapper">
        <div class="local-stores">
          <h1>Arkansas</h1>
        </div>

      <% m.stores.forEach(function(store) { %>
        <div class="store-info">
          <h3 class="item-title"><%- _.unescape( _.trunc(store.title, { 'length': 25, 'separator': ' ', 'omission': '' }) ) %></h3>
          <!-- <p class="item-description"><%- _.unescape( _.trunc(store.description, { 'length': 50, 'separator': ' ' }) ) %></p> -->
          <div class="store-info__pic">
            <a href="#users/<%- store.user_id %>"><img class="main-image" src=<%- store.MainImage.url_170x135 %>></a>
          </div>
        </div>
      <% }) %>

    </section>
  </script>

  <script type="text/html" id="user-profile">
    <section>
      <!-- <div class="user-profile-header">
        <h2>Fetsy South Profile</h2>
      </div> -->

      <div class="user-info">
        <!-- <% if ((m.user.first_name ||  m.user.last_name) !== null) { %>
        <h3 class="user-name"><%- _.unescape(m.user.first_name + " " + m.user.last_name) %></h3>
        <% } %> -->
        <img class="user-pic" src=<%- m.user.image_url_75x75 %>>
        <% if (m.user.first_name !== null) { %>
        <h3 class="user-name"><%- _.unescape(m.user.first_name) %></h3>
        <% } %>
          <% if (m.user.last_name !== null) { %>
        <h3 class="user-name"><%- _.unescape(m.user.last_name) %></h3>
      <% } %>
        <h3 class="user-bio"><span class="about">about: </span><%- _.unescape(m.user.bio) %></h3>
        <p class="user-location"><span class="locale-info">location: </span> <%- m.user.city + "," + " " + m.user.region %></p>
        <p class="user-fav-materials"><span class="fav-mat">favorite materials: </span> <%- _.unescape(m.user.materials) %></p>
     </div>


  </section>
  </script>

  <!-- in case decide to do modal or pop-up: -->
    <!-- <script type="text/html" id="user-profile">
      <section class="wrapper">
        <div class="user-profile-header">
          <h1>Fetsy South User Profile</h1>
        </div>

      <% m.stores.forEach(function(store) { %>
        <div class="user-info">
          <h3 class="item-title"><%- _.unescape( _.trunc(store.title, { 'length': 25, 'separator': ' ', 'omission': '' }) ) %></h3>
          <!-- <p class="item-description"><%- _.unescape( _.trunc(store.description, { 'length': 50, 'separator': ' ' }) ) %></p> -->
          <!-- <div class="store-info__pic" data-listing-id="<%= store.listing_id %>">
            <img class="main-image" src=<%- store.MainImage.url_170x135 %>>
          </div>
        </div>
      <% }) %>

    </section>
    </script> -->


    <script type="text/html" id="page-not-found">
      <section class="wrapper">

          <h1>Ut oh! Fetsy Not Found!</h1>

        <div class="404-page">
        </div>

    </section>
    </script>

  <div class="outro">
    <h3>supporting southern makers & doers since 2015</h3>
  </div>
</div>



  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
